
		* {
			margin: 0;
			padding: 0;
		}
		ul li{
			list-style: none;
		}
		header {
			display: flex;
			height: 80px;
			background-color: #007FB0;
			align-items: center;
			justify-content: space-between;
			min-width: 1500px;
		}
		
		.logo {
			margin-left: 20px;
		}
		
		.button_exit {
			margin-right: 20px;
		}
		
		.button_exit input {
			padding: 10px 13px;
			background-color: #D6EBF4;
			border: none;
			color: cornflowerblue;
		}
		
		.button_exit input:hover {
			background-color: #EEFAFF;
		}
		
		nav {
			background-color: #F5F5F5;
			height: 39px;
			line-height: 40px;
			border-bottom: #DDDDDD solid 1px;
			min-width: 1000px;
			display: flex;
			min-width: 1500px;
		}
		
		.nav_left {
			text-align: center;
			line-height: 40px;
			border-right: #DDDDDD solid 1px;
			float: left;
			color: #808080;
			flex: 1;
		}
		
		.nav_right {
			float: left;
			margin-left: 20px;
			color: #999;
			flex: 6;
		}
		.flex{
			display: flex;
			min-width: 1500px;
		}
		article {
			border-right: #DDDDDD solid 1px;
			height: 780px;
			background-color: #eee;
			float: left;
			flex: 1;
			padding-right: 3px;
		}
		
		article .user_mannager,
		.column_mannger,
		.news_mannger {
			height: 54px;
			width: 100%;
			text-align: center;
			line-height: 55px;
			border-bottom: #DDDDDD solid 1px;
			font-family: "微软雅黑";
			font-size: 18px;
			color: #007FB0;
		}
		
		article .user_mannager {
			background: url(img/icon_01.png) left center no-repeat;
			background-position-x: 23px;
		}
		
		article .column_mannger {
			background: url(img/icon_02.png) left center no-repeat;
			background-position-x: 23px;
		}
		
		article .news_mannger {
			background: url(img/icon_03.png) left center no-repeat;
			background-position-x: 23px;
		}
		
		.news_mannger:hover {
			background-color: #FFFFFF;
			border-right: #FFFFFF solid 2px;
		}
		
		.column_mannger:hover {
			background-color: #FFFFFF;
			border-right: #FFFFFF solid 2px;
		}
		
		.user_mannager:hover {
			background-color: #FFFFFF;
			border-right: #FFFFFF solid 2px;
		}
		aside {
			height: 780px;
			float: left;
			flex: 6;
			margin: 0 20px 0 20px;
		}
		
		aside .text {
			font-family: "微软雅黑";
			font-size: 18px;
			color: #007FB0;
			line-height: 55px;
			float: left;
		}
		
		aside .search {
			float: right;
			margin-top: 17px;
		}
		aside .search input{
			height: 32px;
			width: 200px;
			float: left;
		}
		aside .search .search_img{
			background-color: #8CC6EA;
			width: 35px;
			height: 32px;
			float: left;
			position: relative;
		}
		aside .search .search_img img{
			position: absolute;	
			top: 8px;
			left: 8px;
		}
		aside .user_oper{
			height: 60px;
			clear: both;
			border: #DDDDDD solid 1px;
		}
		aside .user_oper .insert{
			height: 13px;
		}
		aside .user_oper input {
			padding: 8px 20px;
			border: #FFFFFF solid 1px;
			border-radius: 6px;
			color: white;
		}
		aside .user_oper #button_one:hover{
			background-color: white;
			color: #007FB0;
			border: #007FB0 solid 1px;
		}
		aside .user_oper #button_two:hover{
			background-color: white;
			color: #007FB0;
			border: #007FB0 solid 1px;
		}
		aside .user_oper #button_three:hover{
			background-color: white;
			color: #EF9623;
			border: #EF9623 solid 1px;
		}
		aside .user_oper #button_four:hover{
			background-color: white;
			color: #F55F2C;
			border: #F55F2C solid 1px;
		}
		aside .user_oper #button_one,#button_two{
			background-color: #2980B6;
		}
		aside #button_three{
			background-color:#F55F2C ;
		}
		aside #button_four{
			background-color: #EF9623;
		}
		#button_one,#button_two,#button_three{
			float: left;
			margin-left: 10px;
		}
		#button_four{
			float: right;
			margin-right: 30px;
		}
		.add_count{
			position: fixed;
			height: 280px;
			width: 380px;
			top: 280px;
			left: 600px;
			border: #007FB0 solid 1px;
			background-color: #ffff;
			display: none;
		}
		.add_count .add_text i{
			display: inline-block;
			float: right;
			font-style: normal;
			font-size: 18px;
			margin-top: -22px;
			margin-right: -10px;
			cursor: pointer;
		}
		.add_count .add_text{
			background-color: #EEEEEE;
			padding: 10px 20px;
		}
		.add_count .add_text p{
			margin: 0;
		}
		.add_count .user_name{
			border: #999999 solid 1px;
			height: 40px;
			width: 300px;
			margin-top: 40px;
			margin-left: 30px;
		}
		.add_count .user_pass{
			border: #DDDDDD solid 1px;
			height: 40px;
			width: 300px;
			margin-top: 25px;
			margin-left: 30px;
		}
		
		.add_count span{
			width: 70px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			display: inline-block;
			border-right: #DDDDDD solid 1px;
		}
		.change_text{
			text-align: center;
			line-height: 50px;
		}
		.add_count input{
			height: 30px;
			width: 200px;
			border: none;
		}
		.add_count .user_button{
			margin-top: 30px;
			margin-left: 30px;
		}
		.add_count .user_button input{
			width: 300px;
			height: 36px;
			background-color: #007FB0;
			border: ##DDDDDD solid 1px;
			border-radius: 4px;
			color: white;
			font-size: 16px;
		}
		#change_count{
			display: none;
			height: 300px;
		}
		#change_count .user_name{
			margin-top: 15px;
		}
		#delete_count{
			height: 200px;
		}
		.page{
			border: #DDDDDD solid 1px;
			border-left: none;
			border-right: none;
		}
		.page .pagination{
			margin-left: 120px;
		}
		aside .user_list,.column_list{
			border: #DDDDDD solid 1px;
			border-bottom: none;
			border-top: none;
			margin-top: 20px;
			color: #007FB0;
		}
		.news_list{
			margin-top: 80px;
			border: #EEEEEE solid 1px;
		}
		.news_list .news_list_hrader{
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
			background-color: #F1F4F9;
			font-family: "微软雅黑";
			font-size: 15px;
			color: #007FB0;
		}
		.news_list .news_list_body{
			padding: 30px 0 20px 30px;
		}
		.news_list .news_list_body .news_content_title{
			width: 600px;
			height: 40px;
			border: #ADADAD solid 1px;
			margin-bottom: 20px;
		}
		.news_list .news_list_body  span{
			height: 40px;
			width: 100px;
			border-right: #ADADAD solid 1px;
			display: inline-block;
			text-align: center;
			line-height: 40px;
		}
		.news_list .news_list_body .news_content_title input{
			width: 300px;
			border: none;
		}
		.news_list .news_list_body .news_content_column{
			width: 300px;
			height: 40px;
			border: #ADADAD solid 1px;
			margin-bottom: 20px;
		}
		.news_list .news_list_body .news_content_column select{
			width: 150px;
			text-align: center;
			padding-left: 50px;
			color: #555555;
			border: none;
		}
		.news_list .news_list_body .news_content_text{
			margin-bottom: 20px;
		}
		.news_list .news_list_body .news_content_text textarea{
			width: 600px;
			height: 260px;
			border: #ADADAD solid 1px;
			background-color: #F9F9F9;
		}
		.news_list .news_list_body .news_content_button input{
			font-size: 16px;
			font-family: "微软雅黑";
			color: white;
			padding: 8px 50px;
			background-color: #007FB0;
			border: #007FB0 solid 1px;
			border-radius: 5px;
		}
		.news_list .news_list_body .news_content_button input:hover{
			background-color: #1B6D85;
		}
		
		/*
		aside .user_list ul{
			height: 20px;
			padding: 10px 0 10px 20px;
			border-bottom: #999999 solid 1px;
			
		}
		aside .user_list ul li{
			float: left;
			width: 200px;
			margin-right: 50px;
		}
		.page{
			height: 40px !important;
		}
		.page .pagepage{
			line-height: 55px;
		}
		.page a{
			float: left;
			text-decoration: none;
			color: #808080;
		}
		
		.page li:hover{
			background-color: #007FB0;
		}
		.page  #frist{
			background-color: #007FB0;
		}
		.page a:hover{
			text-decoration:underline;
		}
		.page li{
			margin-right: 5px !important;
			margin-left: 10px;
			width: 10px !important;
			padding: 2px 10px;
			border: #808080 solid 1px;
			vertical-align: middle;
			margin-top: 10px;		
		}
		.page #lue{
			border: none;
		}
		.page ul:first-child{
			background-color: #007FB0;
		}
*/